

/*social media */

.socialmedia {
  grid-row: 3;
  grid-column: 2;
  height: 9em;
}
li {
  list-style: none;
}

ul {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4em 1fr;
  padding: 1em 1em 0 0;
  gap: 1em;

  margin-top: -1em;

}
img{
  width: 40px;
}
.whitebackground{
  /*box-shadow: 14px 13px 0px 0px;*/
  background: #fff;
  font-weight: normal;
  /*width: 13em;*/
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  display: grid;
  margin-top: 1em;
  margin-bottom: 2em;
}
.animationfade {
  animation: fadeIntest 12s;
  -webkit-animation: fadeIntest 10s;
  -moz-animation: fadeIntest 12s;
  -o-animation: fadeIntest 12s;
  -ms-animation: fadeIntest 12s;
}

@keyframes fadeIntest {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIntest {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIntest {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIntest {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIntest {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

