<main>


  <div>
    <h1>Yu Jing van Gerwen</h1>

      <img src="image.jpg" alt="foto van mij"/>

    <section class="animationfade">
      <h2>Over mij</h2>
      <p> Leeftijd: 20</p>
      <p>Op dit moment doe ik de opleiding frontend design en development en zit ik in mijn
        afstudeerjaar</p>
    </section>
    <!--    <SocialMedia/>-->
    <section class="socialmedia whitebackground animationfade">
      <h2>Social media</h2>
      <ul>
        <li>
          <a href="https://github.com/yujing-student">

              <img ngSrc="github-logo.png" alt="GitHub" height="512" width="512"/>

          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/yu-jing-van-gerwen-a959431b7/">

            <img src="../assets/linkedin.jpg" alt="linkedin" height="192" width="204"/>
          </a>
        </li>
      </ul>
    </section>
      <section class="hidden">
        <h2>meer over mij</h2>
        <p>In de sportschool is mijn doel nu om meer spieren op te bouwen </p>
      </section>


<!--    <ActionButton/>-->
<!--    <Moreinfo/>-->
  </div>

</main>
<style>

</style>
